{{#section 'head'}}
    <title>yike</title>
    <link rel="stylesheet" type="text/css" href="/css/pc/first.css">
    <link rel="stylesheet" type="text/css" href="/css/common.css">
{{/section}}
<div class="main">
	<div class="header">
		<div class="head-inner">
			<p>yike</p>
		</div>
	</div>
	<div class="content">
		<p class="one">立春 立夏 立秋 立冬</p>
		<p class="two">立分 夏至 秋分 冬至</p>
	</div>
</div>
{{#section 'jquery'}}
{{/section}}