<!doctype html>
<html>
	<head>
		{{{_sections.head}}}
		{{#if showTests}}
			<link rel="stylesheet" href="/vendor/mocha.css">
		{{/if}}
		<link rel="stylesheet" type="text/css" href="/css/main.css"/>
		{{!-- <link rel="stylesheet" type="text/css" href="/css/bootstrap.css"/> --}}
	</head>
	<body>
		<header></header>
		{{{body}}}

		<script src="/js/jquery-1.12.3.min.js" type="text/javascript"></script>
		<script src="/js/main.js" type="text/javascript"></script>
		<script type="text/javascript">
		  // window.onbeforeunload = onbeforeunload_handler;
		  // //window.onunload = onunload_handler;
		  // function onbeforeunload_handler(){
		  //   var warning="确认退出123232?";
		  //   return warning;
		  // }
		  // function onunload_handler(){
		  //   var warning="谢谢光临";
		  //   alert(warning);
		  // }
		</script>

		{{!--<script src="/js/bootstrap.js" type="text/javascript"></script>--}}
		{{{_sections.jquery}}}
	</body>
</html>