{{#section 'head'}}
    <title>创建群</title>
    <link rel="stylesheet" type="text/css" href="css/group.css">
{{/section}}
<h3>创建群聊</h3>
<a href="/yike">放弃</a>
	<a href="/photocut?atl=2&id=0" class="user-photo"></a>

<p>群名称：<input type="text" name="name" class="group-name"></p>

{{!-- 调出好友列表 --}}
<ul class="friend-li">
</ul>
<button class="upuser">确定</button>
<span class="aaa">点击</p>
{{#section 'jquery'}}
	<script src="/js/group.js" type="text/javascript"></script>
{{/section}}
