{{#section 'head'}}
    <title>yike</title>
    <link rel="stylesheet" type="text/css" href="css/home.css">
    <link rel="stylesheet" type="text/css" href="/css/common.css">
{{/section}}
<div class="main">
	<div class="bg"></div>
	<div class="content">
		<p>时间{{date}}</p>
		<p>邮箱{{email}}</p>
	</div>
</div>
{{#section 'jquery'}}
	<script src="/lib/mobile/flexible.js" type="text/javascript"></script>
	<script src="/js/home.js" type="text/javascript"></script>
{{/section}}