{{#section 'head'}}
    <title>群聊天</title>
    <link rel="stylesheet" type="text/css" href="css/groupchart.css">
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/json3.min.js"></script>
{{/section}}
<div class="main">
	<input type="hidden" value="{{id}}" class="id">
	<div class="group-init"></div>
	<a href="/yike" class="back toyike">返回</a>
	<div class="inner">
		<div class="msgout">
			<div id="message"></div>
		</div>
		<div class="groupmsg">
			<ul class="user"></ul>
			<a href="#" class="add-member">添加人员</a>
			<div>
				<span>群公告:</span>
				<span class="intro"></span>
			</div>
			<div class="mark">
				<span>群内名:</span>
				<span class="mark-name"></span>
			</div>
			<div class="change">
				<input type="text" value="" class="change-mark"><button>确定</button>
			</div>
			<div class="user-oper"></div>
		</div>
	</div>
	<form class="forms">
		<input type="text" name="text" class="text">
		<button class="but" type="button">发送</button>
	</form>
	<div class="user-friend">
		<ul class="friend-li"></ul>
		<div class="but-grp">
			<button class="put-but">确定</button>
			<button class="close-but">取消</button>
		</div>
	</div>
</div>

{{#section 'jquery'}}
	<script src="/js/myfunc.js" type="text/javascript"></script>
	<script src="/js/groupchart.js" type="text/javascript"></script>
{{/section}}
