{{#section 'head'}}
    <title>yike</title>
    <link rel="stylesheet" type="text/css" href="css/home.css">
    <link rel="stylesheet" type="text/css" href="/css/common.css">
{{/section}}
<div class="main">
	<div class="bg"></div>
	<div class="content">
		<div class="room"></div>
		<form class="newslefft">
		<div class="inputs"><label>用户</label><input type="text" name="email" placeholder="注册邮箱/用户名" value="{{ret}}" class="email"></div>
		<div class="inputs"><label>密码</label><input type="password" name="pswd" class="pwd"></div>
		<button class="log-submit">登录</button>
		</form>
		<div class="register"><a href="./register">新用户注册</a></div>
		<button class="forget">忘记密码？</button>
		<div class="getpwd">
			<div class="inputs"><input type="text" name="email" placeholder="请输入注册邮箱" value="{{ret}}" class="regemail"></div>
			<button class="no-send">取消</button>
			<button class="send-email">邮箱找回</button>
			<p>发送邮箱只在十分钟内有效！</p>
			<a href="/forget?aa=11223232323">点对点</a>
		</div>
	</div>
</div>
{{#section 'jquery'}}
	<script src="/lib/mobile/flexible.js" type="text/javascript"></script>
	<script src="/js/home.js" type="text/javascript"></script>
{{/section}}