{{#section 'head'}}
    <title>yike1</title>
    <link rel="stylesheet" type="text/css" href="lib/photo/photocut.css">
{{/section}}
<a href="javascript:history.back(-1)">取消</a>
<div id="clipArea"></div>
<div id="view"></div>
<input type="file" id="file">
<button id="clipBtn">截取</button>
<input type="hidden" value="" class="dataurl">
<button class="clipphoto" data-link="{{atl}}">确定</button>

{{#section 'jquery'}}
	<script src="lib/photo/jquery-2.1.3.min.js"></script>
	<script src="lib/photo/iscroll-zoom.js"></script>
	<script src="lib/photo/hammer.js"></script>
	<script src="lib/photo/lrz.all.bundle.js"></script>
	<script src="lib/photo/jquery.photoClip.js"></script>
	<script src="lib/photo/index.js"></script>
{{/section}}
