<h3>注册</h3>
<p>信息：{{title}}</p>
<form class="newslefft" method="post" action="/register">
<label>用户名</label><input type="text" name="name" placeholder="请取一个名字"></br>
<label>邮箱</label><input type="email" name="email" placeholder="请输入注册邮箱"></br>
<label>密码</label><input type="password" name="pwd"></br>
<input type="submit" name="submit" value="注册" class="log-submit">
<a href="./">登录</a>
</form>