{{#section 'head'}}
    <title>搜索</title>
    <link rel="stylesheet" type="text/css" href="/css/search.css">
{{/section}}
<h3>搜索</h3>
<a href="javascript:history.back(-1)">取消</a>
<form class="search">
	<input type="text" name="search" class="search-main"><button class="searup">搜索</button>
</form>
<div class="sear"></div>

{{#section 'jquery'}}
	<script src="/js/search.js" type="text/javascript"></script>
{{/section}}
