*{
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}
/*移动端公共样式*/
.main input{
    padding-left: 0.25rem;
    height: 0.85rem;
    font-size: 0.4rem;
}
.padding{
    padding: 0 0.3rem 0 0.3rem;
}
.head{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1001;
    height: 1.125rem;
    width: 100%;
    text-align: center;
    background: rgba(255,255,255,0.96);
}
.head1{
    position: absolute;
    top: 0;
    z-index: 1000;
    width: 100%;
    text-align: center;
    border-bottom: 0.0125rem solid #ddd;
}
.head2{
    position: absolute;
    top: 0;
    z-index: 1000;
    height: 0;
    width: 100%;
    text-align: center;
}
.name , .name i{
    line-height: 1.125rem;
    font-size: 0.45rem;
}
.head .name,.head1 .name,.head2 .name{
	font-weight: bold;
}
.back{
    position: absolute;
    top: 0rem;
    left: 0rem;
    width: 1.0rem;
    height: 1.125rem;
}
.back-one{
    background: url('../images/back.svg') no-repeat center/0.25rem;
}
.back-two{
    background: url('../images/back1.svg') no-repeat center/0.25rem;
}
.more{
    position: absolute;
    cursor: pointer;
    top: 0rem;
    right: 0rem;
    width: 1.0rem;
    height: 1.125rem;
}
.more1{
    background: url('../images/more1.svg') no-repeat left center/0.6rem;
}
.more2{
    background: url('../images/more2.svg') no-repeat left center/0.6rem;
}

/*图片头像*/
.img-64{
    display: inline-block;
    width: 0.8rem;
    height: 0.8rem;
    overflow: hidden;
    border-radius: 50%;
}
.img-64 img{
    width: 0.8rem;
}
.img-80{
    display: inline-block;
    width: 1.0rem;
    height: 1.0rem;
    overflow: hidden;
    border-radius: 50%;
}
.img-80 img{
    width: 1.0rem;
}
.img-100{
    display: inline-block;
    width: 1.25rem;
    height: 1.25rem;
    overflow: hidden;
    border-radius: 50%;
}
.img-100 img{
    width: 1.25rem;
}
.img-200{
    display: inline-block;
    width: 2.5rem;
    height: 2.5rem;
    overflow: hidden;
    border-radius: 50%;
}
.img-200 img{
    width: 2.5rem;
}
/*提醒颜色*/
.remind{
    /*color: #3f56fe;*/
}
