.main{
	margin: 20px auto;
	width: 860px;
}
.inner{
	height: 400px;
}
.msgout{
	position:relative;
	height: 400px;
	width: 640px;
	background: #f0f0f0;
	overflow-y: auto;
	float: left;
}
#message .message{
	width:100%;
	height: 50px;
	margin: 10px 0;
	padding-bottom:30px;
}
#message .message p{
	max-width: 400px;
	padding: 5px;
	border:1px solid #ddd;
	margin: 0;
}
#message .message img{
	width: 38px;
	height: 38px;
}
#message .my p{
	float: right;
	background:#fff;
}
#message .to p{
	float: left;
}
#message .time{
	text-align: center;
	padding: 20px 0;
}
.groupmsg{
	height: 400px;
	width: 220px;
	background: #fafafa;
	float:right;
}
.groupmsg .user{
	padding: 0;
	margin: 10px;
}
.groupmsg .user li{
	list-style: none;
	display: inline-block;
}
.user li .img{
	width: 40px;
	height: 40px;
	overflow: hidden;
	border-radius: 5px;
	margin: 0 13px;
}
.user li img{
	width: 40px;
	height: 40px;
}
.user li a{
	display: inline-block;
	width: 66px;
	text-decoration: none;
	font-size: 12px;
	text-align: center;
	padding-top: 10px;
}
.user-friend{
	display:none;
	position: relative;
	margin-top: 20px;
	height: 120px;
	width: 860px;
	background: #f8f8f8;
}
.friend-li .user{
	float: left;
}
.in-group-tip{
	display: inline-block;
	width: 12px;
	height: 12px;
	background: #ddd;
}
.but-grp{
	position: absolute;
	right: 20px;
	bottom: 20px;
}
/*群内名*/
.mark{
	cursor: pointer;
}
.change{
	display: none;
}
