* {
    margin: 0;
    padding: 0;
    font: normal 0.373333rem/0.64rem 'Arial','PingFangSC','Sans-serif','Microsoft Yahei';
    color: #222;
    outline: none !important;
}
html , body{
	position: relative;
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	color: #222;
}
li{
	list-style: none;
}
table {
    table-layout: fixed;
}
h1,h2,h3,h4,h5,p{
	padding: 0;
	margin: 0;
}
ul{
	padding: 0;
	margin:0;
}
button{
	outline: none;
}
img{
    padding:0px;
    margin:0px;
    border:0;
    font-size: 0;
    display: block;
}
