.main{
	padding-top: 1.125rem;
}
.main .head{
	border: 0.0125rem solid #ddd;
}
.head .back{
	width: 1.2rem;
	padding-left: 0.3rem;
	line-height: 1.125rem;
	font-size: 0.4rem;
}
.title{
	margin: 0.2125rem auto;
	width: 4.0rem;
	height: 0.7rem;
}
.title p{
	cursor: pointer;
	float: left;
	width: 50%;
	height: 0.7rem;
	line-height: 0.7rem;
	border: 0.0125rem solid #3f56fe;
}
.title .selected{
	background: #3f56fe;
	color: #fff;
}
.title .inform{
	border-radius: 0.125rem 0 0 0.125rem;
}
.title .users{
	border-radius: 0 0.125rem 0.125rem 0;
}

.img{
	padding: 0.8rem 0 0.4rem 0;
	text-align: center;
}
.img a{
	position: relative;
}
.img i{
	position: absolute;
	bottom: 1rem;
	left: 1rem;
	width: 0.5rem;
	height: 0.5rem;
	background: url('../images/revise.svg') no-repeat center/0.4rem;
}

.newslefft{
	padding: 0.525rem 0.3rem;
	background: #fff;
	border-top: 0.0125rem solid #ddd;
	border-bottom: 0.0125rem solid #ddd;
}
.newslefft p{
	position: relative;
}
.newslefft p span{
	font-size: 0.4rem;
	color: #222;
}
.newslefft input, .newslefft textarea{
	border: 0;
	border-radius: 0.125rem;
	background: #f8f8f8;
	font-size: 0.4rem;
	margin-top: 0.1rem;
}
.newslefft textarea{
	height: 2.45rem;
	resize: none;
	width: 100%;
	padding: 0.25rem;
}
.newslefft .name {
	width: 100%;
	height: 1.125rem;
	padding: 0.25rem;
	margin-bottom: 0.3rem;
}
.inf-head{
	cursor: pointer;
	position: fixed;
	top: 0;
	right: 0;
	z-index: 1001;
	display: inline-block;
	text-align: center;
	font-size: 0.4rem;
	color: #3f56fe;
	line-height: 1.125rem;
	padding-right: 0.3rem;
	width: 1.2rem;
	opacity: 0.5;
}
.group-user{
	margin-top: 0.5rem;
	display: none;
	border-top: 0.0125rem solid #ddd;
	border-bottom: 0.0125rem solid #ddd;
}
.group-user .user-select{
	width: 100%;
	background: #fff;
	position: relative;
}
.user-select .img-80{
	float: left;
	margin: 0.25rem 0.3rem;
}
.group-user .user-select .name{
	margin-left: 1.6rem;
	font-weight: lighter;
	font-size: 0.425rem;
	line-height: 1.5rem;
	border-bottom: 0.0125rem solid #ddd;
}
.group-user .user-select:last-child .name{
	border-bottom:0;
}
.user-select .remove-user{
	height: 0.7rem;
	border-radius: 0.125rem;
	line-height: 0.7rem;
	padding: 0 0.2rem;
	background: #feeced;
	border: 0;
	color: #ff4b4b;
	position: absolute;
	right: 0.3rem;
	top: 0.4rem;
}

.dissolve button{
	margin-top: 0.5rem;
	line-height: 1.375rem;
	color: #ff4b4b;
	width: 100%;
	border-left: 0;
	border-right: 0;
	background: #fff;
}