.head .img{
	display: inline-block;
	float: left;
	margin-top: 0.1rem;
	margin-left: 0.3rem;
	width: 0.925rem;
	height: 0.925rem;
	border-radius: 50%;
	overflow: hidden;
}
.head .img img{
	width: 0.925rem;
}
.logo-name{
	line-height: 1.125rem;
	font-size: 0.45rem;
	font-weight: bold;
	margin: 0 auto;
	width: 1.6rem;
}
.head .cregroup{
	position: absolute;
	top: 0.15rem;
	right: 0.175rem;
	display: block;
	float: right;
	height: 0.85rem;
	width: 0.85rem;
	background: url('../images/add.svg') no-repeat center/0.65rem;
}
.search{
	margin-top: 1.125rem;
	height: 1.12rem;
	text-align: center;
	border-bottom: 0.025rem solid #ddd;
}
.search-inner{
	display: inline-block;
	margin-top: 0.15rem;
	width: 100%;
	border-radius: 0.15rem;
	height: 0.8rem;
	background: #f3f4f6;
}
.search-inner p{
	display: inline-block;
	padding-left: 0.3rem;
	width: 2.8rem;
	font-size: 0.35rem;
	line-height: 0.8rem;
	color: #b4b5be;
	background: url('../images/search.png') no-repeat left center /0.35rem;
}
/*好友申请*/
.search-result{
	display: block;
}
.add{
	width: 100%;
	height: 1.75rem;
	border-bottom: 0.0125rem solid #dedfe5;
	display:none;
}
.current{
	background: #F4F4F9;
}
.add .icon{
	display: inline-block;
	float: left;
	margin: 0.25rem;
	width: 1.25rem;
	height: 1.25rem;
	border-radius: 50%;
	background: #d9deff url('../images/addgrp.svg') no-repeat center /0.75rem;
}
.add .item{
	display: inline-block;
	float: right;
	margin: 0.6rem 0.3rem;
	min-width: 0.525rem;
	padding-left: 0.155rem;
	height: 0.525rem;
	border-radius: 50%;
	background: #ff4b4b;
	color: #fff;
	font-style: normal;
	font-size: 0.35rem;
	line-height: 0.525rem;
}
.add span{
	float: left;
	font-size: 0.45rem;
	line-height: 1.75rem;
}
.adduser{
	display: none;
	position: relative;
	margin-bottom: 0.25rem;
}
.adduser .add-place{
	text-align: center;
	margin-top: 0.2rem;
	padding: 0.25rem;
	border-radius: 0.15rem;
	background: #F4F4F9;
}
.adduser .add-place .img{
	display: block;
	margin: 0 auto;
	width: 1.0rem;
	height: 1.0rem;
	border-radius: 50%;
	overflow: hidden;
}
.adduser .add-place .img img{
	width: 1.0rem;
}
.adduser .name{
	line-height: 0.75rem;
	font-size: 0.45rem;
}
.adduser .news{
	clear: both;
	line-height: 0.5rem;
	font-size: 0.35rem;
	color: #999;
/*	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;*/
}
.adduser .nowtime{
	position: absolute;
	right: 0.6rem;
	top: 0.125rem;
	line-height: 0.6rem;
	font-size: 0.35rem;
	color: #999;
}
.sex{
	position: absolute;
	top: 0.85rem;
	left: 5.15rem;
	height: 0.5rem;
	width: 0.5rem;
	border-radius: 50%;
	overflow: hidden;
}
.male{
	background: url('../images/sex/male.png') no-repeat center /0.5rem;
}
.female{
	background: url('../images/sex/female.png') no-repeat center /0.5rem;
}
.asexual{
	background: url('../images/sex/asexual.png') no-repeat center /0.5rem;
}
.aggree{
	display: inline-block;
	width: 1.5rem;
	height: 0.75rem;
	border-radius: 0.5rem;
	background: #3f56fe;
	border: 0.0125rem solid #3f56fe;
	color: #fff;
	line-height: 0.75rem;
	font-size: 0.35rem;
	margin-top: 0.25rem;
}
.disaggree{
	display: inline-block;
	width: 1.5rem;
	height: 0.75rem;
	border-radius: 0.5rem;
	border: 0.0125rem solid #3f56fe;
	color: #3f56fe;
	line-height: 0.75rem;
	font-size: 0.35rem;
	margin:  0.25rem 0.5rem 0 0;
}

/*列表*/
.list .img{
	display: block;
	float: left;
	width: 1.25rem;
	height: 1.25rem;
	border-radius: 50%;
	overflow: hidden;
}
.list .img img{
	width: 1.25rem;
}
.list{
	width:100%;
	height: 1.75rem;
	padding: 0.25rem 0 0 0.25rem;
	text-align: left;
	position: relative;
	background: #fff;
}
.list:active{
	background: #F4F4F9;
}
.list .user-list{
	text-decoration: none;
}
.list .user-inf{
	padding-left: 1.55rem;
	width: 100%;
	height: 100%;
}
.user-inf .down-line{
	padding-right: 0.3rem;
	height: 100%;
	border-bottom: 0.0125rem solid #dedfe5;
}
.list .name{
	line-height: 0.75rem;
	font-size: 0.45rem;
	color: #151516;
}
.list .nowtime{
	position: absolute;
	right: 0.3rem;
	top: 0.425rem;
	font-size: 0.3rem;
	color: #999;
	line-height: 0.375rem;
}
.list .news{
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	line-height: 0.375rem;
	font-size: 0.35rem;
	color: #828284;
}
/*提醒消息*/
.list .count{
	display: none;
	position: absolute;
	left: 1.25rem;
	top: 0.3rem;
	min-width: 0.425rem;
	height: 0.425rem;
	padding: 0 0.13rem;
	margin: 0;
	border-radius:50%;
	color:#fff;
	background: #ff4b4b;
	z-index: 1000;
	font-size: 0.3rem;
	line-height: 0.425rem;
}
