.user{
	width:240px;
	border-radius: 12px;
	margin: 10px;
	padding: 20px;
	float:left;
	text-align: center;
	color: #333;
	position: relative;
	list-style: none;
	background: #f8f8f8;
}
.quit{
	display: block;
	position: fixed;
	right: 40px;
	top: 40px;
	height: 42px;
	width: 80px;
	border-radius: 21px;
	background: #f9644e;
	text-decoration: none;
	font-size: 16px;
	color: #fff;
	line-height: 42px;
	text-align: center;
}
.cregroup{
	display: block;
	position: fixed;
	right: 40px;
	top: 40px;
	height: 42px;
	width: 80px;
	border-radius: 21px;
	background: #f9644e;
	text-decoration: none;
	font-size: 16px;
	color: #fff;
	line-height: 42px;
	text-align: center;}
.myself{
	background: #eee;
}
.header{
	display: inline-block;
	border-radius: 50%;
	height: 80px;
	width: 80px;
	overflow: hidden;
}
.header img{
	width: 82px;
}
.name{
	font-size: 18px;
}
.explain{
	font-size: 14px;
}
.sex{
	position: absolute;
	top: 70px;
	left: 160px;
	height: 28px;
	width: 28px;
	border-radius: 50%;
	overflow: hidden;
}
.male{
	background: url('../images/sex/male.png');
}
.female{
	background: url('../images/sex/female.png');
}
.asexual{
	background: url('../images/sex/asexual.png');
}
.group{
	background: url('../images/sex/group.png');
}
.chart{
	position: absolute;
	right: 20px;
	top: 20px;
	display: block;
	width: 30px;
	height: 30px;
	background: url('../images/chart.png') no-repeat center /30px;

}
.count{
	display: none;
	position: absolute;
	right: 10px;
	top: 10px;
	min-width: 10px;
	height: 20px;
	padding: 0 5px;
	margin: 0;
	border-radius:10px;
	color:#fff;
	background: #ff462d;
	z-index: 1000;
	font-size: 14px;
	line-height: 20px;
}
.search-result{
	display: block;
}
.add{
	width: 240px;
	height: 60px;
	border: 1px solid #eee;
	border-radius: 4px;
	cursor: pointer;
	display:none;
}
.add .icon{
	display: inline-block;
	float: left;
	margin: 10px;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background: #eae5fc url('../images/add.png') no-repeat center /26px;
}
.add .item{
	display: inline-block;
	float: right;
	margin: 20px 10px;
	min-width: 14px;
	padding-left: 6px;
	height: 20px;
	border-radius: 10px;
	background: #ff4b60;
	color: #fff;
	font-style: normal;
	font-size: 12px;
	line-height: 20px;
}
.add span{
	float: left;
	line-height: 60px;
}
.adduser{
	display: none;
}
.aggree{
	float: right;
	display: inline-block;
	width: 54px;
	height: 28px;
	border-radius: 14px;
	background: #6ed802;
	color: #fff;
	line-height: 28px;
	cursor: pointer;
}
.disaggree{
	float: right;
	display: inline-block;
	width: 54px;
	height: 28px;
	border-radius: 14px;
	background: #ff7766;
	color: #fff;
	line-height: 28px;
	cursor: pointer;
}