.top-count{
	height: 148px;
	padding: 24px 0 24px 24px;
	background: #f6f6f6;
}
.top-count .title{
	width: 120px;
	height: 148px;
	background: #303030;
	float: left;
	border-radius: 5px;
	color: #fff;
	text-align: center;
}
.title .count{
	font-size: 48px;
	line-height: 60px;
	padding-top: 30px;
}
.title .name{
	font-size: 18px;
	line-height: 30px;
}
.top-count .detial-count{
	float: left;
	width: 400px;
	position: relative;
	padding-left: 16px;
	height: 148px;
	/*border: 1px solid red;*/
}
.detial-count ul{
	padding: 0;
	margin: 0;
	position: absolute;
	bottom: 0;
}
.detial-count ul li{
	float: left;
	width: 48px;
	height: 148px;
	text-align: center;
	font-size: 12px;
	line-height: 12px;
}
.detial-count ul li .li-inner{
	position: absolute;
	bottom: 0;
}
.detial-count ul li i{
	width: 20px;
	height: 60px;
	background: #08d26f;
	display: block;
	margin: 4px auto;
}

.user-table{
	padding: 0 24px;
}
.user-table .table-title{
	height: 28px;
	padding: 20px 0;
}
.table-title .button{
	float: right;
}
.table-title .button button{
	height: 28px;
	width: 48px;
	border-radius: 2px;
	border: 0px;
	margin-right: 10px;
	cursor: pointer;
}
.table-title .button .sixin{
	background: #ff8c19;
	color: #fff;
}
.table-title .button .delete{

	background: #868a95;
	color: #fff;
}
.table-title p{
	float: left;
	font-size: 18px;
}
.user-table table{
	text-align: left;
	width: 100%;
	border-spacing: 0px;
}
.user-table table tr:hover,.user-table table tr th{
	background: #f6f6f6;
}
.user-table table tr th,.user-table table tr td{
	padding-left: 20px;
	height: 48px;
	max-width: 240px;
	border-bottom: 1px solid #dddfe3;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	/*display: -webkit-box;
	-webkit-box-orient:vertical;
	-webkit-line-clamp: 2;*/
}
.user-table img{
	border-radius: 50%;
	overflow: hidden;
}
.user-table table tr td img{
	margin-top: 4px;
	width: 30px;
}
/*复选框*/
.user-table table tr i{
	display: inline-block;
	margin-right: 8px;
	vertical-align: top;
	height: 14px;
	width: 14px;
	overflow: hidden;
	border: 1px solid #ddd;
	border-radius: 2px;
	cursor: pointer;
}
.user-table table tr .selects{
	border: 1px solid #fe7f26;
	background: url('/images/manage/select.png') no-repeat center center;
}
/*翻页*/
.page{
	padding-top: 16px;
	height: 36px;
}
.page ul{
	float: right;
	
}
.page ul li,.page ul p{
	float: left;
	width: 26px;
	height: 26px;
	border-radius: 2px;
	border: 1px solid #d7d8d8;
	margin-left: 6px;
	line-height: 26px;
	text-align: center;
	font-size: 12px;
	color: #666;
	cursor: pointer;
}
.page ul li:hover,.page ul li.select{
	border: 1px solid #fe7f26;
	background: #fe7f26;
	color: #fff;
}

//弹出
.outer-delete{
	text-align: center;
	border: 1px solid red;
}
.outer-delete p{
	text-align: center;
	font-size: 14px;
	line-height: 58px;
}