{{#section 'head'}}
    <link rel="stylesheet" type="text/css" href="/css/manage/user.css">
{{/section}}

<div class="user">
	<div class="top-count">
		<div class="title">
			<p class="count">0</p><p class="name">群</p>
		</div>
		<div class="detial-count">
			<ul>
			</ul>
		</div>
	</div>
	<div class="user-table">
		<div class="table-title">
			<p>具体列表</p>
			<div class="button">
				<button class="sixin">私信</button>
				<button class="delete">删除</button>
			</div>
		</div>
		<table>
			
		</table>
		<div class="page">
			<ul>
				<li class="before">回</li>
				<span>

				</span>
				<li class="after">去</li>
			</ul>
		</div>
	</div>
</div>

{{#section 'jquery'}}
	<script src="/js/manage/page.js" type="text/javascript"></script>
	<script src="/js/manage/group.js" type="text/javascript"></script>
{{/section}}