{{#section 'head'}}
    <title>yike后台</title>
    <link rel="stylesheet" type="text/css" href="/css/manage/user.css">
{{/section}}

<div class="user">
	<div class="top-count">
		<div class="title">
			<p class="count">0</p><p class="name">群</p>
		</div>
		<div class="detial-count">
			<ul>
			</ul>
		</div>
	</div>
	<div class="user-table">
		<div class="title">
			<p>具体列表</p>
			<div class="button">
				<button class="sixin">私信</button>
				<button class="delete">删除</button>
			</div>
		</div>
		<table>
			<tr>
				<th><i></i><span>序号</span></th>
				<th>头像</th><th>群名</th><th>创建者id</th>
				<th>注册时间</th><th>操作</th>
			</tr>

		</table>
	</div>
</div>

{{#section 'jquery'}}
	<script src="/js/manage/group.js" type="text/javascript"></script>
{{/section}}