{{#section 'head'}}
    <title>yike后台</title>
    <link rel="stylesheet" type="text/css" href="/css/manage/index.css">
{{/section}}

<div class="manage">
	<div class="manage-head">
		<div class="head-search">
            <input type="search" placeholder="搜索用户，群，消息" class="search-in">
            <button class="search" name="search"></button>      
        </div>
        <div class="head-user">
            <div class="userimg"><img src="/vacation-photo/{{img}}"></div>
            <div class="news"><span>4</span></div>
        </div>
	</div>	
	<div class="manage-left">
		<div class="logo"></div>
		<!-- 导航选项 -->
        <div class="bar-option">
            <ul class="bar-option-ul">
                <li class="current" data-link="/yike/manage/home"><i></i><span class="home"></span></li>
                <li data-link="/yike/manage/user"><i></i><span class="user"></span></li>
                <li data-show="true" data-link="/yike/manage/group"><i></i><span class="group"></span></li>
                <li data-show="true" data-link="/yike/manage/msg"><i></i><span class="msg"></span></li>
                <li data-show="true" data-link="/yike/manage/grpmsg"><i></i><span class="grpmsg"></span></li>
                <li data-show="true" data-link="/yike/manage/friend"><i></i><span class="friend"></span></li>
                <li data-show="true" data-link="/yike/manage/grpuser"><i></i><span class="groupus"></span></li>
                <li data-show="true" data-link="/yike/manage/search"><i></i><span class="search"></span></li>
            </ul>
        </div>
	</div>
    <!-- iframe嵌套 -->
    <div class="training-iframe-div">
        <iframe src="/yike/manage/home" frameborder="0" class="training-iframe" ></iframe>
    </div>
</div>

{{#section 'jquery'}}
	<script src="/js/manage/index.js" type="text/javascript"></script>
{{/section}}
