{{#section 'head'}}
    <link rel="stylesheet" type="text/css" href="/css/manage/user.css">
    <link rel="stylesheet" type="text/css" href="/css/manage/search.css">
{{/section}}
<div class="search">
	<div class="head-search">
            
    </div>
	<div class="search-user">
        <div class="user-table">
            <table></table>
        </div>
	</div>	
</div>
{{#section 'jquery'}}
    <script src="/js/myfunc.js" type="text/javascript"></script>
	<script src="/js/manage/search.js" type="text/javascript"></script>
{{/section}}
