{{#section 'head'}}
    <title>yike后台</title>
    <link rel="stylesheet" type="text/css" href="/css/manage/user.css">
{{/section}}
<div class="search">
	<div class="search-head">
		<div class="head-search">
            
        </div>
        <div class="user-table">
            <table></table>
        </div>
	</div>	
</div>
{{#section 'jquery'}}
    <script src="/js/myfunc.js" type="text/javascript"></script>
	<script src="/js/manage/search.js" type="text/javascript"></script>
{{/section}}
