.main{
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	width: 920px;
	height: 680px;
}
.main-left{
	position: relative;
	float: left;
	padding-top: 64px;
	width: 260px;
	border: 1px solid #eee;
	border-radius: 8px;
	height: 680px;
	box-shadow: 0 2px 10px rgba(0,0,0,0.1);
	overflow-x: hidden;
}
.main-left .left-header{
	position: absolute;
	z-index: 100;
	top: 0;
	left: 0;
	padding: 12px 10px;
	width: 260px;
	height: 64px;
	background: #3F56FE;
	border-radius: 8px 8px 0 0;
}
.left-header li{
	cursor: pointer;
}
.cregroup{
	margin-top: 7px;
	display: block;
	float: right;
	height: 28px;
	width: 28px;
	background: url('/images/createGroup.svg') no-repeat center;
	text-decoration: none;
	font-size: 16px;
	color: #fff;
	line-height: 32px;
	text-align: center;
}
.search{
	display: inline-block;
	float: left;
	margin: 7px 10px;
	height: 28px;
	width: 152px;
	background: rgba(255,255,255,0.2);
	border-radius: 16px;
}
.search i{
	float: left;
	margin: 6px 10px;
	width: 16px;
	height: 16px;
	background: url('/images/search.svg') no-repeat center;
}
.search .search-inner{
	float: left;
	font-size: 12px;
	line-height: 28px;
	color: rgba(255,255,255,0.6);
}
.img{
	display: inline-block;
	border-radius: 50%;
	height: 40px;
	width: 40px;
	overflow: hidden;
	float: left;
	/*border: 1px solid #fff;*/
}
.img img{
	width: 42px;
}
.left-user{
	height: 596px;
	width: 100%;
	overflow-x: hidden;
}
.left-user li{
	cursor: pointer;
}
.user{
	width:100%;
	height: 60px;
	margin: 0px;
	padding: 10px;
	float:left;
	text-align: center;
	color: #333;
	position: relative;
	list-style: none;
	background: #fff;
}
.left-user .current,.add:hover,.user:hover{
	background: #F4F4F9;
}
.user .user-inf{
	position: relative;
	float: left;
	text-align: left;
	padding-left: 6px;
	width: 198px;
}
.user-inf .name{
	font-size: 16px;
	line-height: 24px;
	color: #333;
}
.user-inf .news{
	font-size: 12px;
	line-height: 16px;
	color: #666;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.user-inf .nowtime{
	line-height: 24px;
	position: absolute;
	right: 0px;
	top: 0px;
	font-size: 12px;
	color: #999;
}
.user .count{
	display: none;
	position: absolute;
	left: 37px;
	top: 8px;
	min-width: 16px;
	height: 16px;
	padding: 0 4px;
	margin: 0;
	border-radius:10px;
	color:#fff;
	background: #ff462d;
	z-index: 1000;
	font-size: 12px;
	line-height: 16px;
}

.sex{
	position: absolute;
	top: 34px;
	left: 130px;
	height: 18px;
	width: 18px;
	border-radius: 50%;
	overflow: hidden;
}
.male{
	background: url('/images/sex/male.png') no-repeat center/18px;
}
.female{
	background: url('/images/sex/female.png') no-repeat center/18px;
}
.asexual{
	background: url('/images/sex/asexual.png') no-repeat center/18px;
}
.group{
	background: url('/images/sex/group.png') no-repeat center/18px;
}


.search-result{
	display: block;
}
.add{
	width: 100%;
	height: 60px;
	cursor: pointer;
	display:none;
}
.add .icon{
	display: inline-block;
	float: left;
	margin: 10px;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background: #eae5fc url('/images/add.png') no-repeat center /22px;
}
.add .item{
	display: inline-block;
	float: right;
	margin: 21px 10px;
	min-width: 18px;
	padding-left: 5px;
	height: 18px;
	border-radius: 10px;
	background: #ff4b60;
	color: #fff;
	font-style: normal;
	font-size: 12px;
	line-height: 18px;
}
.add span{
	float: left;
	line-height: 60px;
	font-size: 16px;
}
.adduser{
	display: none;
}
/*单独设置新的好友请求*/
.left-user .new-user{
	width: 248px;
	height: 136px;
	margin:6px;
	padding: 0;
	border-radius: 8px;
	background: #f4f4f9;
}
.left-user .new-user .img{
	margin: 10px 0 0 104px;
}
.left-user .new-user .name{
	font-size: 16px;
	line-height: 20px;
	padding-top: 56px;
}
.left-user .new-user .nowtime{
	line-height: 16px;
	font-size: 12px;
	color: #999;
	position: absolute;
	top: 10px;
	right: 10px;
}
.left-user .new-user .news{
	line-height: 16px;
	font-size: 12px;
	color: #666;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.cz{
	width: 124px;
	margin: 0 auto;
}
.aggree{
	display: inline-block;
	margin-right: 10px;
	width: 54px;
	height: 24px;
	border-radius: 14px;
	background: #6ed802;
	color: #fff;
	line-height: 24px;
	font-size: 14px;
	cursor: pointer;
}
.disaggree{
	display: inline-block;
	width: 54px;
	height: 24px;
	border-radius: 14px;
	background: #ff7766;
	color: #fff;
	line-height: 24px;
	font-size: 14px;
	cursor: pointer;
}



/*right*/
.main-right{
	position: relative;
	float: right;
	width: 646px;
	border: 1px solid #eee;
	border-radius: 8px;
	height: 680px;
	box-shadow: 0 2px 10px rgba(0,0,0,0.1);
	overflow-x: hidden;
}
.right-iframe{
	width: 100%;
	height: 670px;
	overflow: hidden;
}

